<div class="flex flex-col items-center justify-center h-full">
  <div class="flex w-full justify-content-end">
    <button (click)="addTask()" class="btn btn-primary">
      Add New Task
    </button>
  </div>
  <div class="w-100">
    <app-filters [type]=type></app-filters>
    <app-list [type]=type></app-list>
  </div>
</div>
