<div class="filter-title">
  Filter By
</div>
<div class="flex justify-start bg-white filter-container">
  <div class="form-group">
    <div class="mb-3 col-xs-12 col-12 col-md-4 form-group">
      <label for="Date">Date</label>
      <input disabled="{{this.type == 'today'}}"  type="text" placeholder="Datepicker" #date [value]="date"
        (ngModelChange)="onSelectSolution(taskFilters.searchedDate = $event)" class="form-control"
        [(ngModel)]="taskFilters.searchedDate" bsDatepicker>
    </div>
    <span [ngClass]="{disabled: this.type == 'today'}" class="btn btn-primary" (click)="clearFilters();">
      clear
    </span>
  </div>

  <div class="form-group">
    <label for="Title">Title</label>
    <input type="text" [(ngModel)]="taskFilters.searchedTitle" (ngModelChange)="onSelectSolution()"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="Group">Group</label>
    <input [(ngModel)]="selected" [typeahead]="groupArr" typeaheadOptionField="title"
      (typeaheadOnSelect)="onSelect($event)" class="form-control">
  </div>
  <div *ngIf="selectedGroup.length > 0">
    <label for="Selected">Selected Group</label>
    <div class="flex flex-wrap">
      <div class="chip" *ngFor="let group of selectedGroup">{{GROUPS[group].title }} <span (click)="removeChip(GROUPS[group])">X</span></div>
    </div>
  </div>
</div>
