
.filter-container{
  padding: 15px 23px;
  border-radius: 2px;
  margin-bottom: 25px;
  label{
    font-family: 'Roboto', sans-serif;
  }
  .form-group{
    padding-left: 40px;
    width: 187px;
    &:first-child{
      padding-left: 0px;
    }
  }
}
.disabled{
  pointer-events: none;
}
.filter-title{
  color: #fff;
}

.chip{
  margin: 2px 2px ;
  width: fit-content;
  background: antiquewhite;
  padding: 5px 10px;
  border-radius: 22px;
  font-size: 14px;
  height: fit-content;
}
