.list-container {
  display: flex;
  &:first-child{
    padding-top: 40px;
  }

  .list-heading {
    background-color: #427a95;
    padding: 9px 10px 10px 10px;
    opacity: 0.5;
    border-radius: 3px;
    width: fit-content;
    color: #fff;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;

  }
  .task-list {
    padding: 9px 15px;
    margin: 5px 0px 5px;
    border-radius: 2px;
    background-color: #fff;
  }

  .icon{
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;
    color: #fff
  }
  .icon-delete{
    background-color: #ff9c9c;
  }

  .icon-done{
    background-color: #86e0a4;
  }

  .status{
    padding: 2px 8px;
    background-color: #427a95;
    border-radius: 4px;
    color: #fff;
  }

  .deleted{
    pointer-events: none;

    background-color: #df6e6e30;
    .link {
      color: #fff;
    }
  }

  .done{
    pointer-events: none;
    background-color: #8bc99f91;
    .link{
      color: #fff;
    }
  }
}

.relative{
  max-height: 55vh;
  overflow: scroll;
}