<div class="relative">
  <div *ngIf="groupedTaskList.length > 0" class="right-0 z-10 position-absolute">
    <div>
      <button class=" btn btn-primary">
        Delete Selected
      </button>
      <button class="ml-2.5 btn btn-primary">
        Done
      </button>
    </div>
  </div>
  <div *ngIf="groupedTaskList.length > 0">
    <div *ngFor="let list of groupedTaskList; let i = index" [attr.data-index]="i" class="list-container ">
      <div class="top-0 w-full mb-6">
        <div class="list-heading list-heading-ft">
          {{GROUP[i].title | titlecase}}
        </div>
        <div *ngFor="let sublist of list | appSearch: taskFilters.searchedTitle" class="flex justify-between w-full task-list" [ngClass]="{deleted:  Constants.STATUS['DELETED'] == sublist.status, done:Constants.STATUS['DONE'] == sublist.status }">
          <div>
            <a class="link" [routerLink]="['/', path.task.root, 'details' ,sublist.id]">
              {{sublist.title }} -- {{sublist.id}}
            </a>
          </div>
          <div *ngIf="sublist.status == Constants.STATUS['PUBLISHED']">
            <span class="mr-1"><button (click)="deleteTask(sublist.id)"><span class="icon icon-16 icon-delete"></span></button></span>
            <span><button (click)="doneTask(sublist.id)"><span class="icon icon-16 icon-done"></span></button></span>
          </div>
          <div *ngIf="sublist.status != Constants.STATUS['PUBLISHED']">
            <span class="mr-1"><button class="status">{{Constants.STATUS_ID[sublist.status] | titlecase}}</button></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-5" *ngIf="!groupedTaskList.length">
    <h3> No Tasks Found</h3>

  </div>
</div>
