@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @import '01-base/font.scss';
  @import '01-base/document.scss';
  @import '01-base/headings.scss';
}

@layer components {
  @import '02-components/link.scss';
  @import '02-components/buttons.scss';
}

@layer utilities {
  @import './iconmoon.scss';
}


@import "~bootstrap/dist/css/bootstrap.css";
@import 'ngx-bootstrap/datepicker/bs-datepicker.scss';

