
html {
  @apply font-body;
  @apply font-light;
}

*{
  font-family: 'Roboto', sans-serif;
}
.list-heading-ft{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}


@font-face {
  font-family: 'icomoon';
  src: url('../../assets/fonts/iconmoon/icomoon.eot?aiz13u');
  src: url('../../assets/fonts/iconmoon/icomoon.eot?aiz13u#iefix') format('embedded-opentype'), url('../../assets/fonts/iconmoon/icomoon.ttf?aiz13u') format('truetype'), url('../../assets/fonts/iconmoon/icomoon.woff?aiz13u') format('woff'), url('../../assets/fonts/iconmoon/icomoon.svg?aiz13u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-16{
  font-size: 16;
}

.icon-24{
  font-size: 24;
}

.icon-white{
  color: #fff
}


.icon-profile:before {
  content: "\e90c";
}

.icon-down-arrow:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-add:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-checked:before {
  content: "\e902";
}
.icon-folder:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e904";
}
.icon-done:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e906";
}
.icon-today:before {
  content: "\e907";
}
.icon-list:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e909";
}
