<div class="container">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title">
        <span class="text-danger"
          *ngIf="(registerFormControl.title.touched || submitted) && registerFormControl.title.errors?.required">
          Title is required
        </span>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <span class="text-danger"
          *ngIf="(registerFormControl.description.touched || submitted) && registerFormControl.description.errors?.required">
          Description is required
        </span>
      </div>
      <div class="form-group">
        <label>Priority</label>
        <div class="flex space-x-10 form-control">
          <label>
            <input type="radio" value="0" formControlName="priority">
            <span class="ml-1">High</span>
          </label>
          <label>
            <input type="radio" value="1" formControlName="priority">
            <span class="ml-1">Normal</span>
          </label>
          <label>
            <input type="radio" value="2" formControlName="priority">
            <span class="ml-1">Low</span>
          </label>
        </div>
        <span class="text-danger"
          *ngIf="(registerFormControl.priority.touched || submitted) && registerFormControl.priority.errors?.required">
          Priority is required
        </span>
      </div>
      <div class="form-group">
        <label>Delivery Date</label>
        <input formControlName="delivery_date" class="form-control w-50" id="date" type="date" />
        <span class="text-danger"
          *ngIf="(registerFormControl.delivery_date.touched || submitted) && registerFormControl.delivery_date.errors?.required">
          Delivery Date is required
        </span>
      </div>
      <div class="form-group">
        <select class="form-control"  formControlName="group">
          <option value="">Group</option>
          <option *ngFor="let grp of objectKeys(Group); let i = index" [ngValue]="i"> {{Group[grp]['title'] }}</option>
        </select>
        <!-- error block -->
        <span class="text-danger"
          *ngIf="(registerFormControl.group.touched || submitted) && registerFormControl.group.errors?.required">
          Group is required
        </span>
      </div>
    </div>

    <div class="modal-footer">
      <button *ngIf="!updatedData" type="submit" class="btn btn-primary">Update</button>
      <button *ngIf="updatedData"  disabled type="submit" class="btn btn-primary">Updated Data</button>
    </div>
  </form>
</div>
