.header {
    height: 60px;
    background-color: #678cab;
}

.profile {
    height: 90px;
    background-color: #f1fdff;
}

.full-nav {
    width: 292px;
}

.collapse-nav {
    width: 60px;
    .header {
        padding: 10px;
        justify-content: center;
    }
    .nav-bar {
        padding: 10px;
        .nav-item {
            padding: 2px;
            display: flex;
            padding: 10px;
            justify-content: center;
            .icon {
                margin-right: 0px;
            }
        }
    }
}

.header {
    align-items: center;
    padding: 20px;
    .icon {
        font-size: 32px;
    }
}

.icon {
    font-size: 24px;
}

.nav-bar {
    padding: 20px;
    width: 100%;
    .nav-item {
        padding: 12.5px;
        font-size: 18px;
        align-items: center;
        font-family: 'Roboto-Regular', sans-serif;
        display: flex;
        align-items: center;
        .icon {
            margin-right: 5px;
            font-size: 24px;
        }
    }
    .active {
        background-color: #678cab;
        span {
            color: #fff;
        }
    }
}