<header class=" {{collapse? 'collapse-nav' : 'full-nav'}} sticky top-0 w-full shadow-lg h-100 bg-opacity-10 bg-gray-50 dark:bg-gray-700 backdrop-blur-lg backdrop-filter">
    <div class="flex justify-between header">
      <span class="icon icon-menu icon-white" (click)="collapse = !collapse">
      </span>
      <span *ngIf="!collapse" class="icon icon-search icon-white" >
      </span>
    </div>
    <div class="flex flex-col p-2 profile justify-evenly">
      <div  (click)="showTab = !showTab"  class="flex justify-between w-5 cursor-pointer">
        <div *ngIf="!collapse">Profile</div> 
        <div *ngIf="!collapse" class="ml-2 icon icon-down-arrow"></div>

        <div *ngIf="collapse"> <span class="icon icon-24 icon-profile"></span></div>
      </div>
      <div class="flex justify-between" *ngIf="showTab">
        <div>
          <ul>
            <li>
              <a class="link" [routerLink]="['/', path.user.root, 'zaheet_batada']">
                {{collapse ? '->' :'My profile'}}
              </a>
            </li>
          </ul>
        </div>
        <div>
          <button (click)="onClickSignOut()" class="btn btn-primary">
              <span class="icon icon-24 icon-logout">logout</span>
          </button>
        </div>
      </div>
    </div>
    <div class="nav-bar ">
      <nav class="flex justify-start h-full flex-column">
            <div [routerLink]="[path.base.root]" [routerLinkActive]="['active']"  class="cursor-pointer nav-item">
              <span class="icon icon-24 icon-home"></span><span *ngIf="!collapse" class="text-gray-400">Home</span>
            </div>
            <div [routerLink]="[path.base.tasks, 'all']" [routerLinkActive]="['active']" class="cursor-pointer nav-item">
              <span class="icon icon-24 icon-list"></span><span *ngIf="!collapse" class="text-gray-400">All</span>
            </div>
            <div [routerLink]="[path.base.tasks, 'today']" [routerLinkActive]="['active']" class="cursor-pointer nav-item">
                <span class="icon icon-24 icon-calendar"></span><span *ngIf="!collapse" class="text-gray-400">Today</span>
            </div>
            <div [routerLink]="[path.base.tasks, 'deleted']" [routerLinkActive]="['active']" class="cursor-pointer nav-item">
                <span class="icon icon-24 icon-delete"></span><span *ngIf="!collapse" class="text-gray-400">Deleted</span>
            </div>
            <div [routerLink]="[path.base.tasks, 'done']" [routerLinkActive]="['active']" class="cursor-pointer nav-item">
                <span class="icon icon-24 icon-done"></span><span *ngIf="!collapse" class="text-gray-400">Done</span>
            </div>
        </nav>
    </div>
</header>
