<app-header></app-header>
<div class="flex-1 content-container">
  <app-content-header class="content-header"></app-content-header>
  <div class="flex-1 content-main-container">
    <ng-content></ng-content>
  </div>
</div>

