:host {
  @apply flex flex-row min-h-full;
}

app-header{
  width: fit-content;
}
.content-container {
  width: 84%;
  background-image: linear-gradient(#4ba2d1, #d0e4e0);
}

.content-main-container {
  margin: 20px 30px 30px 30px;
}
